.side-header
  .side-header__box
    %p.side-header__box__user-name 
      = current_user.name
    %ul.side-header__box__menu
      %li
        = link_to "/groups/new" do
          %i.fas.fa-edit
      %li
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
.groups  
  .group
    %p.group__name test
    %p.group__message test