*{
  box-sizing: border-box;
 }
.wapper {
  padding: 0;
  margin: 0;
}

.chat-side {
   width: 300px;
   color: white;
   float: left;
   height: 100vh;
   .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__user-name {
        margin: 0;
        padding: 0;
      }
      &__menu {
        display: flex;
        li i{
          font: normal 16px FontAwesome;
          margin-left: 5px;
          color: white;
        }
      }
    }
  }
}